*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    display: flex;
}

.main-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 90vw;
    padding-top:10px;
}

.back-btn:hover{
    cursor: pointer;
}
.a{
    text-decoration: none;
    font-size: 16px;
    color:#0b5ed7;
    height: 5px;
}
.add-product-form{
   
    display: flex;
    flex-direction: column;
    padding: 10px;
    align-items: center;
    line-height: 30px;
   
    
}
.add-product-container{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
}
.add-product-form div{
    display: flex;
    flex-direction: column;
    margin:10px 0px 0px 0px;
    
   
}
.back-btn{
    width: 90%;
}
.add-product-form input{
    border:1px solid gray;
    font-size: 18px;
    width: 400px;
    outline-color: rgb(24, 13, 73);
    padding: 10px 5px;
    border-radius: 3px;
    
}
.add-product-form span{
    color:#0b5ed7;
   font-size: 28px;
    margin-bottom: 10px;
}
.add-product-btn{
    margin-top:50px;
    background-color: #0b5ed7;
    color: white;
    width: 400px;
    border:none;
    padding:10px;
    border-radius: 5px;
  
}